<app-hero-parent></app-hero-parent>

<div>----------------------------------------------</div>

<app-name-parent></app-name-parent>

<div>----------------------------------------------</div>

<app-version-parent></app-version-parent>

<div>----------------------------------------------</div>

<app-vote-taker></app-vote-taker>

<div>----------------------------------------------</div>

<app-countdown-parent-lv></app-countdown-parent-lv>

<div>----------------------------------------------</div>

<app-countdown-parent-vc></app-countdown-parent-vc>

<div>----------------------------------------------</div>

<app-mission-control></app-mission-control>